{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% if true %}
  <article id="main-content">
    <form action="{{ url_for('add_user') }}" method=post class=add-user>
      <dl>
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        <dd><input type=submit value=Adduser class="button primary"></dd>
      </dl>
    </form>
  </article>
  {% endif %}
{% endblock %}