{% extends "layout.html" %}
{% block body %}
<article id="main-content">
  <section id="books" class="checkoutblock">
    <div class="product-list">
      <div class="row small-up-1 medium-up-2 large-up-3">
        {% for book in books %}
          <div class="column text-center">
            <a href="#">
              {%if book.thumbnail != None %}
                <img src="{{ url_for('send_file', filename=book.thumbnail) }}" width="350" />
              {% else %}
                <img src="{{ url_for('static', filename='no_photo.jpg') }}" width="350" /> 
              {% endif %}
            </a>
            <div class="meta">
              <div class="title">
                <h3>{{ book.title }}</h3>
              </div>
              <div class="author">
                by {{ book.author }}
              </div>
              {%if (book.isborrowed == 1 and book.user_id == session['user_id']) %}
              <form action="{{ url_for('return_book') }}" method=post > 
                <input type="submit" name="action" value="return" class="button return">
                <input type="hidden" name="user_id" value="{{session.user_id}}">
                <input type="hidden" name="book_id" value="{{book.id}}">
              </form>
              {% elif (book.isborrowed == 1 and book.user_id != session['user_id']) %}
                <!-- <div class="countDown">
                   <span id="days">00</span>
                   <span id="hours">00</span>
                   <span id="minutes">00</span>
                   <span id="seconds">00</span>
                </div> -->
                <input type="submit" name="action" value="not available" class="button borrowed">
              {% elif (book.isborrowed == 0 and session.logged_in) %}
                  <form action="{{ url_for('borrow_book') }}" method=post > 
                <input type="submit" name="action" value="borrow" class="button primary">
                <input type="hidden" name="user_id" value="{{session.user_id}}">
                <input type="hidden" name="book_id" value="{{book.id}}">
              </form>


              {% else %}
                <form action="{{ url_for('login') }}" method=post > 
                  <input type="submit" name="action" value="available" class="button primary">
              </form>
              {% endif %}
            </div>
          </div>
        {% else %}
          <div>
            <em>Unbelievable.  No books here so far</em>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

   <a class="add" href="/add">
    <button type="button" class="button add-btn">Add a Book</button>
  </a> 
</article>
{% endblock %}

